 
.directory
*.o
~*
*~

cirlinklist/cirlinklist
cirslinklist/cirslinklist

example/dec2bin

linklist/linklist

vector/vector
vector_dlinklist/vector_dll
vector_slinklist/vector_sll
vector_static/vector_static

queue/queue
queue_dlinklist/queue_dll
queue_slinklist/queue_sll
queue_static/queue_static

slinklist/slinklist

stack/stack
stack_dlinklist/stack_dll
stack_slinklist/stack_sll
stack_static/stack_static

set/set
set_dlinklist/set_dlinklist

util/util
