 
.directory
*.o
*.exe
~*
*~

testing/cirlinklist/cirlinklist
testing/cirslinklist/cirslinklist

testing/example/dec2bin

testing/linklist/linklist

testing/vector/vector
testing/vector_dlinklist/vector_dll
testing/vector_slinklist/vector_sll
testing/vector_static/vector_static

testing/queue/queue
testing/queue_dlinklist/queue_dll
testing/queue_slinklist/queue_sll
testing/queue_static/queue_static

testing/slinklist/slinklist

testing/stack/stack
testing/stack_dlinklist/stack_dll
testing/stack_slinklist/stack_sll
testing/stack_static/stack_static

testing/set/set
testing/set_dlinklist/set_dlinklist

testing/util/util
